
body{
	font-family: Papyrus, fantasy;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-align: center;
}
.menu{
	width: 50%;
	float: center;
	padding:45% 0 0 0;
}
