
body{
	font-family: Papyrus, fantasy;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 19.8px;
	text-align: center;
}
*{
	box-sizing:border-box;
}
.header{
	width: 75%;
	float: right;
	padding: 15px;
	height: 100%
}
.menu{
	width: 25%;
	float: left;
	padding:15% 0 0 0;
}
.main{
	width: 75%;
	float: left;
	padding: 15px
}
